@*--------------- HTLM TEMPALTE DEL LOGIN ---------------*@
@using Dominio;
<div class="back-button d-flex justify-content-center align-items-center position-absolute"
    style="top: 40px; left: 100px; background-color: #48bf78; width: 100px; height: 50px; border-radius: 10px;">
    <a href="~/Capataz/Home"
        class="d-flex justify-content-center align-items-center text-white text-decoration-none fw-bold"
        style="gap: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 20px; height: 20px;">
            <path fill="#ffffff"
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
        </svg>
        Volver
    </a>
</div>
<section class="d-flex flex-column justify-content-center align-items-center text-center">
	<div>
		<article>
			<h2>Asignar animal libre a potrero</h2>
			<form action="~/Potreros/AsignarAnimalAPotrero" method="post">
				<div> <input class="form-control " type="text" placeholder="ID del animal" name="id" /> </div>
				<div> <input class="form-control " type="password" placeholder="ID potrero" name="potrero"> </div> <br>
				@{
					if (ViewBag.Error != null)
					{
						<p class="alert alert-danger">@ViewBag.Error</p>
					}
					if (ViewBag.Exito != null)
					{
						<p class="alert alert-success">@ViewBag.Exito</p>
					}
				}

				<select name="" id="">
					@foreach (Potrero p in ViewBag.Potreros)
					{
						<option value="@p.Id">Desc:@p.Descripcion || CantAnimales:@p.CantidadAnimalesPastan ||
							MaxAnimales:@p.CantidadMaxAnimales</option>
					}
				</select>

				<input type="submit" class="btn btn-primary" value="Ingresar">
			</form>
			<a href="~/Usuario/Registro">Registrar usuario</a>
		</article>
		<article>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Descripción</th>
						<th>Max animales</th>
						<th>Hectareas</th>
						<th>Animales Pastando</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Potrero p in ViewBag.Potreros)
					{
						<tr>
							<td>@p.Id</td>
							<td>@p.Descripcion</td>
							<td>@p.CantidadMaxAnimales</td>
							<td>@p.CantidadHectareas</td>
							<td>@p.CantidadAnimalesPastan</td>
						</tr>
					}
				</tbody>
			</table>
		</article>
	</div>
</section>


@*---------------LOGICA --------------- *@


@*--------------- ESTILOS ---------------*@
<style>
	body {
		font-family: sans-serif;
		background: url("https://images.unsplash.com/photo-1454179083322-198bb4daae41?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center no-repeat;
		background-size: cover;
	}

	section {
		width: 100%;
		height: 80vh;
	}


	section>div {
		width: 100%;
		max-width: 600px;
		background-color: #e2e2e2;
		padding: 3rem 2rem;
		border-radius: 8px;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	form input[type="text"] {
		margin-top: .5rem;
	}

	form input[type="password"] {
		margin-top: .5rem;
	}

	form>input[type="submit"] {
		margin-top: 2rem;
		width: 100%;
		background-color: #48bf78;
		border-color: #48bf78;
	}

	form>input[type="submit"]:hover {
		background-color: #3c9e63;
		border-color: #3c9e63;
	}

	a {
		text-align: left;
	}
</style>
