@using Microsoft.AspNetCore.Http;
@using Dominio;
<div class="back-button d-flex justify-content-center align-items-center position-absolute"
	style="top: 40px; left: 100px; background-color: #48bf78; width: 100px; height: 50px; border-radius: 10px;">

	@if (Context.Session.GetString("TipoUsuario") == "Peon")
	{
	<a href="~/Peon/Home"
		class="d-flex justify-content-center align-items-center text-white text-decoration-none fw-bold"
		style="gap: 5px;">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 20px; height: 20px;">
			<path fill="#ffffff"
				d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
		</svg>
		Volver
	</a>
	}
	@if (Context.Session.GetString("TipoUsuario") == "Capataz")
	{
		<a href="~/Capataz/Home"
			class="d-flex justify-content-center align-items-center text-white text-decoration-none fw-bold"
			style="gap: 5px;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 20px; height: 20px;">
				<path fill="#ffffff"
					d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
			</svg>
			Volver
		</a>
	}
</div>
<div class="">
	<br>
	<h1>@ViewBag.Peon.Nombre</h1>
	<br><br>
	<div class=" grid">
		<div>
			<p><strong>Nombre:</strong></p>
			<p>@ViewBag.Peon.Nombre</p>
			@* <label for="nombre">Nombre</label><br>
			<input name="nombre" type="text" class="form-control" readonly value="@ViewBag.Peon.Nombre"> *@
		</div>
		<div>
			<p><strong>Email:</strong></p>
			<p>@ViewBag.Peon.Email</p>
			@* <label for="email">Email</label><br>
			<input name="email" type="text" class="form-control" readonly value="@ViewBag.Peon.Email"><br> *@
		</div>
		<div>
			<p><strong>Contraseña:</strong></p>
			<p>@ViewBag.Peon.Password</p>
			@* <label for="password">Password</label><br>
			<input name="password" type="text" class="form-control" readonly value="@ViewBag.Peon.Password"> *@
		</div>
		<div>
			<p><strong>Fecha de ingreso:</strong></p>
			<p>@ViewBag.Peon.FechaIngreso.ToString("dd/MM/yyyy")</p>
			@* <input name="fechaIngreso" type="text" class="form-control"
			<label for="fechaIngreso">Fecha Ingreso</label><br>
			value="@ViewBag.Peon.FechaIngreso.ToString("dd/MM/yyyy")" readonly> *@
		</div>

		@if (@ViewBag.Peon.Reside)
		{
			<div class="reside-div">
				<p class="alert alert-success reside">Residente</p>
			</div>
		}
		@if (!@ViewBag.Peon.Reside)
		{
			<div class="reside-div">
				<p class="alert alert-danger reside">No reside</p>
			</div>
		}
	</div>
	<br>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Descripción</th>
				<th>Fecha de apertura</th>
				<th>Fecha de cierre</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Tarea t in ViewBag.Peon.Tareas)
			{
				<tr>
					<td>@t.Id</td>
					<td>@t.Descripcion</td>
					<td>@t.FechaPactada.ToString("dd/MM/yyyy")</td>
					<td>@t.FechaCierre.ToString("dd/MM/yyyy")</td>
					<td>
						@if (t.Estado)
                        {
                            <span>Terminada</span>
                        }
                        else
                        {
                            <span>Sin hacer</span>
                        }
						
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


<style>
	h1 {
		margin-top: 100px;
	}

	.reside-div {
		margin: 30px 0;
	}

	.reside {
		display: inline;
		font-weight: bold;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
</style>