<h1>Filtrar animales segun peso</h1>

<form action="~/Animal/ListaAnimalesPorPeso" method="get">
    <label for="">Tipo de animal</label>
    <select class="form-control" name="tipoAnimal">
        <option value="Ovino">Ovino</option>
        <option value="Bovino">Bovino</option>
    </select>
    <label for="">Peso</label>
    <input class="form-control " type="number" name="peso">
    <input type="submit" class="btn btn-primary" value="Buscar">
</form>

@if (ViewBag.Animales == null || ViewBag.Animales.Count == 0)
{
    <p class="alert alert-danger">No se encontraron animales</p>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de animal</th>
            <th>Peso Actual</th>
            <th>Sexo</th>
            <th>Posible ganancia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Animal a in ViewBag.Animales)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.GetTipo()</td>
                <td>@a.PesoActual</td>
                <td>@a.Genero</td>
                <td>@a.CalcularGanancia()</td>
            </tr>
        }
    </tbody>
</table>
}